.section h2 {
  margin-bottom: 20px;
}

.section .values {
  margin-bottom: 20px;
}

.section .values > span {
  display: inline-block;
  margin-right: 20px;
  vertical-align:  middle;
}

.section .values > span > span {
  font-weight: 500;
}

.chart {
  border: 1px solid #eee;
  font-size: 13px;
  height: 600px;
  width: 900px;
}

path {
  stroke-width: 1;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #eee;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.x.axis text {
  font-size: 14;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.y.axis text {
  font-size: 14;
}

.text {
  font-size: 15px;
  font-weight: 500;
}

#charts-nav {
  padding: 15px;
}

#charts-nav .nav-pills a {
  font-size: 17px;
}

#charts-nav .nav-pills .disabled a {
  color: #999;
  cursor: default;
  padding-left: 0px;
}

#hashdiff-hash {
  color: #1f77b4;
}

#hashdiff-diff {
  color: #ff7f0e;
}

#hashdiff-block {
  color: #2ca02c;
}

#hashdiff-change {
  color: #d62728;
}

#hashdiff-next {
  color: #9467bd;
}

#hashdiff-chart .data1 {
  stroke: #1f77b4;
}

#hashdiff-chart .data2 {
  stroke: #ff7f0e;
}

#hashdiff-chart .textLeft {
  fill: #1f77b4;
}

#hashdiff-chart .textRight {
  fill: #ff7f0e;
}

#pools-chart text {
  fill: white;
  font-size: 14px;
  font-weight: 300;
}

#pools .values a {
  color: #bbb;
  font-size: 14px;
}

#pools .values a:hover, #pools .values a:active {
  color: #888;
}