body {
  padding-top: 50px;
}

.navbar-fixed-top {
  position: absolute;
}

.navbar-brand > img {
  margin: -18px 5px -15px 0px;
}

nav a i {
  margin-right: 7px;
}

a, .btn {
  transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s;
}

.btn {
  font-weight: 300;
}

.btn-lg .fa {
  font-size: 20px;
  margin-right: 10px;
}

.red {
  color: #f66;
}

.jumbotron {
  margin: 0px;
  padding: 50px 15px;
}

.jumbotron h1 {
  font-weight: 400;
  margin-bottom: 20px;
}

.jumbotron p {
  margin-bottom: 20px;
}

.jumbotron .pull-right {
  margin: -30px 0px;
}

.section {
  border-top: 1px solid #eee;
  font-size: 17px;
  font-weight: 300;
  padding: 45px 15px;
}

.section h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

#footer {
  background: #eee;
}

#footer-links > a {
  margin-right: 30px;
}

#footer-links > a > i {
  margin-right: 9px;
}

#footer-share > a, #footer-share > iframe {
  margin-right: 10px;
}